@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+KR:wght@100 & display=swap');

*{margin:0; padding:0;}

body{
  font-family:'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: black;
  position: relative;
}
li{list-style: none;}
a{text-decoration: none; color: black;}

/*헤더*/
#fixed{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}
.logo img{
  width: 200px;
}
#header{
  box-shadow: 5px 5px 10px rgba(71, 71, 71, 0.1);
}
#header_inner{
  width: 1300px;
  margin: auto;
  height: 80px;
}
.nav >li{
  float: left;
  position: relative;
}
.nav> li >a{
  margin-top: 15px;
  font-size: 16px;
  display: block;
  padding: 10px 30px 10px 30px;
}
.nav> li:nth-child(1){
  clear: both;
  margin-top: -15px;
  padding-top: 7px;
}

.sub{
  width: 100%;
  display: none;
  background-color: white;
  position: absolute;
}
.sub_inner{
  width: 800px;
  margin: auto;
}
.sub li{
  padding: 10px 0 10px 0;
  text-align: center;
}

.sub li a:hover{
  color: #233c98;
  font-weight: bold;
}

.nav li:hover .sub{
  display: block;
}

.icons{
  float: right;
}

.icons li{
  margin-top: 22px;
  float: left;
  margin-left: 20px;
}

.icons li input{
  border: #ccc 1px solid;
  padding: 5px;
  border-radius: 50px;
  display: none;
  vertical-align: top;
}
.icons li input:hover{
  background-color: #ccc;
  border-radius: 50px;
  border: none;
}

.icons li a{
  padding: 22px 0;
}



/*배너*/
#banner{
  width: 100%;
  background: url(../images/mb_bg.png) no-repeat top center;
  margin-top: 80px;
}
#banner_inner{  
  width: 1300px;
  margin: auto;
}
#banner_inner img{
  padding-top: 60px;
  width: 1300px;
} 
.banner1{
  position: relative;
}
.see_more{
  position: absolute;
  top: 65%;
  left: 8%;
  text-decoration: underline;
  font-size: 18px;
}
.see_more:hover{
  color: #233c98;
}
.sub_btn{
  position: absolute;
  top: 65%;
  left: 65%;
  color: white;
  background-color: #233c98;
  margin-top: -7px;
  padding: 32px 23px;
  border-radius: 50%;
  font-size: 19px;
  float: right;   
  font-weight: bold;
}
.sub_btn:hover{
  background-color: white;
  color: #233c98;
}
.banner2{
  position: relative;
}
.shop_btn{
  position: absolute;
  top: 65%;
  left: 80%;
  color:#233c98;
  background-color:#f5ee36;
  margin-top: -7px;
  padding: 32px 23px;
  border-radius: 50%;
  font-size: 19px;
  float: right;   
  font-weight: bold;
}
.shop_btn:hover{
  background-color: white;
  color: #233c98;
}

/*이벤트창*/
#event{
  width: 1300px;
  margin: 80px auto;
  height: 450px;
}
#event  ul{
  margin: 10px;
}
.bold{
  font-size: 25px;
  font-weight: bold;
}
.subtitle{
  height: 20px;
  color: #666;
}
.more{
  background-color: white;
  float: right;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 2px 15px;
}
.more:hover{
  background-color: #666;
  color: white;
}
#event .event{
  border: 1px solid #ccc;
  width: 400px;
  height: 390px;
  float: left;
  margin: 15px;
}
.event img{
  transition: all 0.5s;
  width: 380px;
}
.event img:hover{
  transform: scale(1.1,1.1);
}
.event p{
  margin: 0 10px;
}
.hidden{
  overflow:hidden;
  width: 380px;
  height: 266px;
  margin: 10px;
}
.e_btn{
  color: white;
  background-color: #233c98;
  margin-top: -7px;
  padding: 25px 20px;
  border-radius: 50%;
  font-size: 16px;
  float: right;   
  font-weight: bold;
}
.e_btn a{
  color: #f5ee36;
}
.e_btn:hover{
  color: #233c98;
  background-color: #f5ee36;
  transition: 1s all;
}

/*완독클럽*/
#club{
  background: url(../images/yellow_bg.png) no-repeat top center;
  height: 560px;
  overflow: hidden;
}
#club_inner{
  width: 1300px;
  margin: auto;
  padding-top: 10px;
}
#club ul{
  margin: 10px;
}
.detail{
  box-sizing: border-box;
  padding: 20px;
}
.detail p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}
.detail p:nth-child(2){
  font-size: 14px;
  color: #666;
}
.detail p:nth-child(3){
  margin-top: 50px;
  font-size: 12px;
  font-weight: bold;
}
.detail p:nth-child(4){
  margin-top: 50px;
  font-size: 12px;
  background-color: rgb(248, 248, 248);
  padding:10px;
}
.none{
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.detail_more{
  margin-top: 5px;
  font-size: 10px;
  padding: 1px 10px;
}


/*스토어*/
#store{
  width: 1300px;
  margin: auto;
  padding-top: 10px;
  height: 600px;
}
.bg{
  background: url(../images/goods_bg.png) no-repeat 0% 60%;
  text-align: center;
}


.s_title{
  font-size: 15px;
  margin-top: 10px;
}

.s_detail{
  color: #233c98;
}



/*멤버십*/
#membership{
  background: url(../images/yellow_bg.png) no-repeat bottom center;
  height: 530px;
}
#membership_inner{
  width: 1300px;
  margin: auto;
  padding-top: 10px;
}
#membership_inner >div {
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 50px;
}

#member1{
  background: url(../images/member1.jpg) no-repeat;
  width: 300px; height: 330px;
  margin-right: 28px;
}
#member2{
  background: url(../images/member2.jpg) no-repeat;
  width: 300px; height: 330px;
  margin-right: 28px;
}
#member3{
  background: url(../images/member3.jpg) no-repeat;
  width: 300px; height: 330px;
  margin-right: 28px;
}
#member4{
  background: url(../images/member4.jpg) no-repeat;
  width: 300px; height: 330px;
}
.member div h2{
  padding: 20px 0 10px 0;
  font-size: 26px;
}

.member div{
  background-color: white;
  opacity: 0.85;
  width: 260px;
  height: 60px;
  margin: 100px auto;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  transition: 1s all;
}

.member div:hover{
  height: 160px;
}
/*SNS*/
#sns{
  width: 1300px;
  margin: auto;
  padding-top: 50px;
  height: 480px;
}
#sns_inner{
  height: 50px;
}
.sns_title{
  float: left;
}
.sns_list{
  float: right;
}

/*푸터*/
#footer{
  background-color: #233c98;
  color: white;
  height: 320px;
}
#footer_inner{
  width: 1300px;
  margin: auto;
  position: relative;
}
#footer_inner>div{
  height: 60px;
  padding-top: 45px;
}
.sns_list{
  float: right;
}
.sns_list li{
  float: left;
}
.sns_list li a{
  margin-left: 10px;
}
.sns_list li a:hover{
  opacity: 0.5;
}
.footer_nav{
  float: left;
}
.footer_nav li{
  float: left;
}
.footer_nav li a{
  color: white;
  display: block;
  padding-right: 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
.footer_nav li:nth-child(1){
  margin-top: -5px;
}
.footer_nav li:nth-child(2){
  margin-left: -5px;
}
.footer_nav li a:hover{
  text-decoration: underline;
}
.info{
  float: left;
}
.center{
  float: right;
  text-align: right;
}
.footer_sub{
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding-top: 20px;
}
.up{
  position: absolute;
  right: -120px;
  top: 80px;
}
.up:hover{
  opacity: 0.8;
  transform: translateY(-20px);
  transition: 1s all;
}


/*nav css*/
/*  하이퍼링크 설정  */



.nav>li>a{display:block;}
.nav>li>a:hover{color:#233c98;font-weight: bold;}
.solid{
  width:100%;
  margin:auto;
  margin-top:0px;
  height:3px;
  background:#233c98;
  visibility:hidden;
  opacity:0;
  transform:scaleX(0);
  transition-property:opacity, transform;
  transition-duration:0.5s;
}
.nav>li>a:hover .solid{
  transform:scaleX(1);	
  opacity:1;
  visibility:visible;
}
		